      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <div layout="column" ng-cloak="" class="autocompletedemoBasicUsage" ng-app="MyApp" layout-margin>
        <h1 layout='row' layout-align="center center">
            PRESCRIPTION FORM
        </h1>
    <md-button style="position:fixed; top: 100px; right: 50px;" ng-print print-element-id="printThisElement" class="md-fab md-primary md-hue-2" aria-label="Eat cake">
            <md-icon md-svg-src="img/ic_print_white_24px.svg"></md-icon>
    </md-button>

        <form ng-submit="postData()">
            <div id="printThisElement">
            <div layout="row" layout-margin layout-xs="column" layout-sm="column">
                <md-whiteframe class="md-whiteframe-10dp" flex="50" flex-xs="100" flex-sm="100" flex-md="75">
                    <md-content class="md-padding">
                        <h3> Chief Complaints
                        </h3>
                        <div  id="slide-left">
                        <div layout-margin ng-repeat="symptom in form.symptoms track by $index" class="inner">
                            <div layout="row" layout-align="space-between start" layout-xs="column">
                                <md-autocomplete flex="35" md-search-text-change="$ctrl.searchTextChange(symptom.sym)" md-search-text="symptom.sym" md-selected-item-change="$ctrl.selectedItemChange(item)" md-items="item in $ctrl.querySearch(symptom.sym)" md-item-text="item.display" md-min-length="0" placeholder="Symptoms">
                                    <md-item-template>
                                        <span md-highlight-text="symptom.sym" md-highlight-flags="^i">{{item.display}}</span>
                                    </md-item-template>
                                    <md-not-found>
                                        No states matching "{{$ctrl.searchText}}" were found.
                                        <a ng-click="$ctrl.newState($ctrl.searchText)">Create a new one!</a>
                                    </md-not-found>
                                </md-autocomplete>
                                <div>
                                    <label> Duration(days):</label>
                                    <input  ng-readonly="readOnly" name="duration" ng-model="form.symptom.duration" required style="width: 50px;">
                                </div>
                                <md-button class="md-icon-button" ng-click="remove(symptoms,$index)" aria-label="Eat cake">
                                    <md-icon md-svg-src="./img/ic_clear_black_24px.svg">
                                    </md-icon>
                                </md-button>
                            </div>
                        </div>
                        </div>
                        <md-divider/>
                        <div layout="row" layout-align="center center">
                            <md-button ng-click="add(symptoms)" class="md-fab md-primary md-mini" aria-label="Eat cake">
                                <md-icon md-svg-src="./img/ic_add_black_24px.svg">
                                </md-icon>
                            </md-button>
                        </div>
                    </md-content>
                </md-whiteframe>
                <md-whiteframe class="md-whiteframe-10dp" flex="50" flex-xs="100" flex-sm="100" flex-md="75">
                    <md-content class="md-padding">
                        <h3> Past history
                        </h3>
                        <div  id="slide-left">
                        <div layout-margin ng-repeat="symptom in form.patient_history track by $index" class="inner">
                            <div layout="row" layout-align="space-between start" layout-xs="column">
                                <md-autocomplete flex="35" md-search-text-change="$ctrl.searchTextChange(symptom.sym)" md-search-text="symptom.sym" md-selected-item-change="$ctrl.selectedItemChange(item)" md-items="item in $ctrl.querySearch(symptom.sym)" md-item-text="item.display" md-min-length="0" placeholder="Symptoms">
                                    <md-item-template>
                                        <span md-highlight-text="symptom.sym" md-highlight-flags="^i">{{item.display}}
                      </span>
                                    </md-item-template>
                                    <md-not-found>
                                        No states matching "{{$ctrl.searchText}}" were found.
                                        <a ng-click="$ctrl.newState($ctrl.searchText)">Create a new one!
                      </a>
                                    </md-not-found>
                                </md-autocomplete>
                                <div>
                                    <label> Duration(days):
                    </label>
                                    <input  ng-readonly="readOnly" name="duration" ng-model="form.symptom.duration" required style="width: 50px;">
                                </div>
                                <md-button class="md-icon-button" ng-click="remove(patient_history,$index)" aria-label="Eat cake">
                                    <md-icon md-svg-src="./img/ic_clear_black_24px.svg">
                                    </md-icon>
                                </md-button>
                            </div>
                        </div>
                        </div>
                        <md-divider/>
                        <div layout="row" layout-align="center center">
                            <md-button ng-click="add(patient_history)" class="md-fab md-primary md-mini" aria-label="Eat cake">
                                <md-icon md-svg-src="./img/ic_add_black_24px.svg">
                                </md-icon>
                            </md-button>
                        </div>
                    </md-content>
                </md-whiteframe>
            </div>
            <div layout="row" layout-margin layout-xs="column" layout-sm="column">
                <md-whiteframe class="md-whiteframe-10dp" flex="50" flex-xs="100" flex-sm="100" flex-md="75">
                    <md-content class="md-padding">
                        <h3> Previous Treatment
                        </h3>
                        <md-input-container class="md-block">
                            <label>Previous treatment
                </label>
                            <textarea ng-readonly="readOnly" ng-model="form.description.previous_treatment" md-maxlength="1024" rows="5" md-select-on-focus>
                </textarea>
                        </md-input-container>
                    </md-content>
                </md-whiteframe>
                <md-whiteframe class="md-whiteframe-10dp" flex="50" flex-xs="100" flex-sm="100" flex-md="75">
                    <md-content class="md-padding">
                        <h3> Family history
                        </h3>
                        <md-input-container class="md-block">
                            <label>Family History
                </label>
                            <textarea ng-readonly="readOnly" ng-model="form.description.family_history" md-maxlength="1024" rows="5" md-select-on-focus>
                </textarea>
                        </md-input-container>
                    </md-content>
                </md-whiteframe>
            </div>
            <div layout="column" layout-margin>
                <md-whiteframe class="md-whiteframe-10dp" flex-xs="100" flex-sm="100" flex-md="75">
                    <md-content class="md-padding">
                        <h3  layout="row" layout-margin layout-align="center center"> Personal history
                        </h3>
                        <div layout="row" layout-align="space-around center" layout-xs="column" layout-sm="column">
                            <div ng-repeat="radiogroup in personal_history">
                                <h5>{{radiogroup.heading}}</h5>
                                <md-radio-group ng-model="radiogroup.value">
                                    <md-radio-button ng-repeat="radiobutton in radiogroup.values" required class="md-primary" ng-value="radiobutton.value">
                                        <label ng-if="!radiobutton.img">{{radiobutton.content}}</label>
                                        <md-icon ng-if="radiobutton.img" md-svg-icon="{{radiobutton.content}}" />
                                    </md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                    </md-content>
                </md-whiteframe>
            </div>
            <div layout="column" layout-margin>
                <md-whiteframe class="md-whiteframe-10dp" flex-xs="100" flex-sm="100" flex-md="75">
                    <md-content class="md-padding ">
                        <h3 layout="row" layout-margin layout-align="center center"> General examination
                        </h3>
                        <div layout="row " layout-align="space-around center"  layout-xs="column" layout-sm="column">
                            <div ng-repeat="radiogroup in general_examination.radiogroup">
                                <h5>{{radiogroup.heading}}</h5>
                                <md-radio-group ng-model="radiogroup.value">
                                    <md-radio-button ng-repeat="radiobutton in radiogroup.values" required class="md-primary" ng-value="radiobutton.value">
                                        <label>{{radiobutton.content}}</label>
                                    </md-radio-button>
                                </md-radio-group>
                            </div>
                        </div>
                            <!--<div layout="row" layout-align="space-around center" layout-xs="column" layout-sm="column">
                                
                                    <ul style="width:75%; margin:auto;">
                                        <md-input-container ng-repeat="(key, value) in form.general_examination.input"> 
                                        <li  style=' float: left; margin-right: 20%; width: 80%; '>
                                            <label style="margin-left: 5%;">{{key}}</label>
                                            <input  ng-readonly="readOnly" ng-model="general_examination.input[key]">    
                                        </li>
                                        </md-input-container>
                                    </ul>
                                
                                </div>-->
                        <div ng-repeat="input in general_examination.input">
                            <div ng-if="$index % 4 == 0" layout="row" layout-align="space-around center" layout-xs="column" layout-sm="column">
                                <md-input-container ng-if="general_examination.input[$index].label != null">
                                    <label>{{general_examination.input[$index].label}}</label>
                                    <input  ng-readonly="readOnly" ng-model="general_examination.input[$index].value">
                                </md-input-container>
                                <md-input-container ng-if="general_examination.input[$index + 1].label != null">
                                    <label>{{general_examination.input[$index + 1].label}}</label>
                                    <input  ng-readonly="readOnly" ng-model="general_examination.input[$index + 1].value">
                                </md-input-container>
                                <md-input-container ng-if="general_examination.input[$index + 2].label != null">
                                    <label>{{general_examination.input[$index + 2].label}}</label>
                                    <input  ng-readonly="readOnly" ng-model="general_examination.input[$index + 2].value">
                                </md-input-container>
                                <md-input-container ng-if="general_examination.input[$index + 3].label != null">
                                    <label>{{general_examination.input[$index + 3].label}}</label>
                                    <input  ng-readonly="readOnly" ng-model="general_examination.input[$index + 3].value">
                                </md-input-container>
                            </div>
                        </div>
            </md-content>
            </md-whiteframe>

    </div>
    <div layout="column" layout-margin>
                <md-whiteframe class="md-whiteframe-10dp" flex-xs="100" flex-sm="100" flex-md="75">
                  <md-content class="md-padding">
                        <h3  layout="row" layout-margin layout-align="center center"> Respiratory System
                        </h3>
                        <div layout="row" ng-repeat="(key, value) in form.rs" layout-align="space-around center">
                            <div layout="column">
                                <h4>{{key}}</h4>
                            </div>
                            <div layout="column">
                                <md-input-container >
                                    <label>Right Lung</label>
                                    <input  ng-readonly="readOnly" type="text" name=value ng-model="form.rs[key][0]" >
                                </md-input-container>
                            </div>
                            <div layout="column">
                                <md-input-container >
                                    <label>Left Lung</label>
                                    <input  ng-readonly="readOnly" type="text" name=value ng-model="form.rs[key][1]" >
                                </md-input-container>
                            </div>
                        </div>
                    </md-content>  
                </md-whiteframe>
            </div>
             <div layout="row" layout-margin layout-xs="column" layout-sm="column">
                <md-whiteframe class="md-whiteframe-10dp" flex="50" flex-xs="100" flex-sm="100" flex-md="75">
                    <md-content class="md-padding">
                    <h2 layout="row" layout-margin layout-align="center center">CNS</h2>
                        <div layout="row" layout-margin layout-align="center center" layout-xs="column" layout-sm="column" >
                            <ul class="column column-2">
                            <md-input-container ng-repeat="(key, val) in form.cns">
                                <li>
                                <label>{{key}}</label>
                                <input  ng-readonly="readOnly" type="text" name=value ng-model="form.cns[key]">
                                </li>
                            </md-input-container>
                            </ul>
                        </div>
                    </md-content> 
                </md-whiteframe>
                <md-whiteframe class="md-whiteframe-10dp" flex="50" flex-xs="100" flex-sm="100" flex-md="75">
                    <md-content class="md-padding">
                    <h2 layout="row" layout-margin layout-align="center center">Abdomen</h2>
                        <div layout="row" layout-margin layout-align="center center" layout-xs="column" layout-sm="column" >
                            <ul class="column column-2">
                            <md-input-container ng-repeat="(key, val) in form.abdomen">
                                <li>
                                <label>{{key}}</label>
                                <input  ng-readonly="readOnly" type="text" name=value ng-model="form.abdomen[key]">
                                </li>
                            </md-input-container>
                            </ul>
                        </div>
                    </md-content>
                </md-whiteframe>
            </div>
            <div layout="row" layout-margin layout-xs="column" layout-sm="column">
                <md-whiteframe class="md-whiteframe-10dp" flex="50" flex-xs="100" flex-sm="100" flex-md="75">
                    <md-content class="md-padding">
                        <h3  layout="row" layout-margin layout-align="center center"> CVS (Cardiovascular System)
                        </h3>
                        <div layout="row " layout-align="space-around center" layout-xs="column" layout-align-xs="center center">
                            <div ng-repeat="radiogroup in cvs.radiogroup">
                                <h5>{{radiogroup.heading}}</h5>
                                <md-radio-group ng-model="radiogroup.value">
                                    <md-radio-button ng-disabled="readOnly" ng-repeat="radiobutton in radiogroup.values" required class="md-primary" ng-value="radiobutton.value">
                                        <label>{{radiobutton.content}}</label>
                                    </md-radio-button>
                                </md-radio-group>
                            </div>
                            <div ng-repeat="input in cvs.input">
                                <h5>{{input.heading}}</h5>
                                <md-input-container flex="100">
                                    <label>{{input.heading}}</label>
                                    <input  ng-readonly="readOnly" type="text" ng-model="input.value">
                                </md-input-container>                                
                            </div>
                            <div ng-repeat="checkbox in cvs.checkbox">
                                <h5>{{checkbox.heading}}</h5>
                                <div ng-repeat="checkboxbutton in checkbox.values">
                                    <md-checkbox ng-disabled="readOnly" class="md-primary" ng-model="checkboxbutton.value" aria-label="Checkbox 1">
                                        {{checkboxbutton.content}}
                                    </md-checkbox>
                                </div>                                
                            </div>

                        </div>
                    </md-content>
                </md-whiteframe>
                <md-whiteframe class="md-whiteframe-10dp" flex="50" flex-xs="100" flex-sm="100" flex-md="75">
                     <md-content class="md-padding">
                        <h3> Local Examination
                        </h3>
                        <md-input-container class="md-block">
                            <label>Local Examination
                </label>
                            <textarea ng-readonly="readOnly" required name="local_examination" ng-model="form.description.local_examination" md-maxlength="1024" rows="5" md-select-on-focus>
                </textarea>
                          <div ng-messages="userForm.local_examination.$error" role="alert">
                              <div ng-message="required">This field is required</div>
                          </div>

                        </md-input-container>
                    </md-content>
                </md-whiteframe>
            </div>
            <div layout="row" layout-margin layout-xs="column"  layout-sm="column">
            <md-whiteframe class="md-whiteframe-10dp" flex="50" flex-xs="100" flex-sm="100" flex-md="90">
                                
              <md-content class="md-padding">
                        <h3> Provisional Diagnosis
                        </h3>
                        <md-input-container class="md-block">
                            <label>Provisional Diagnosis
                </label>
                            <textarea ng-readonly="readOnly" required name="provisional_diagnosis" ng-model="form.description.provisional_diagnosis" md-maxlength="1024" rows="5" md-select-on-focus>
                </textarea>
                          <div ng-messages="userForm.provisional_diagnosis.$error" role="alert">
                              <div ng-message="required">This field is required</div>
                          </div>

                        </md-input-container>
                    </md-content>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-10dp" flex="50" flex-xs="100" flex-sm="100" flex-md="90">
                                
              <md-content class="md-padding">
                        <h3> Investigation
                        </h3>
                        <md-input-container class="md-block">
                            <label>Investigation
                </label>
                            <textarea ng-readonly="readOnly" required name="investigation" ng-model="form.description.investigation" md-maxlength="1024" rows="5" md-select-on-focus>
                </textarea>
                          <div ng-messages="userForm.investigation.$error" role="alert">
                              <div ng-message="required">This field is required</div>
                          </div>

                        </md-input-container>
                    </md-content>
            </md-whiteframe>

          </div>
          <div layout="row" layout-align="center" layout-xs="column" layout-sm="column">
              <md-button class="md-primary md-raised md-hue-2" type="submit" flex-xs="100" flex-sm="100">Save</md-button>
            </div>
            </div>
    </form>

    </div>
